.form{
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    margin-top: 1%;
}
.form-container{
    height: 100%;
    width: 100%;
    
}
.form-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 2;
    height: 90%;
    width: 90%;
    border: none;
    box-shadow: 2px 50px 45px;
    margin-left: 5%;

    
}
.form-left{
    flex: 1;
    background-image: url(../../assets/form.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    
}
.form-right{
    /* margin-top: 5%; */
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: navy;
    
    
}
.contact-form{
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 2px 42px 56px;
    background-color: whitesmoke;
    
}
.form-input{
    width: 70%;
    margin-left: 4%;
    height: 10%;
    border-radius: 5px;
    box-shadow: 12px 5px 12px;
    border: none;
    cursor: pointer;
}
.checkbox{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 12%;
}
.span-checkbox{
    margin-left: -4%;
    margin-top: 2px;
    cursor: pointer;
}
.contact-message{
    height: 30%;
    width: 90%;
    margin-left: 4%;
    border-radius: 5px;
    box-shadow: 2px 2px 8px;
    cursor: pointer;
}
.form-submit{
    width: 50%;
    margin-left: 25%;
    box-shadow: 2px 2px 8px;
    cursor: pointer;
}

@media screen and (max-width:480px) and (min-width:390px) {
    .form{
        height: 100vh;
        max-width: 480px;
        min-width: 390px;
        width: 100vw;
        background-color: whitesmoke;
        margin-top: 1%;
    }
    .form-container{
        height: 100%;
        width: 100%;
        display: flex;
    }
    .form-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        flex: 2;
        height: 80%;
        width: 80%;
        border: none;
        box-shadow: 2px 50px 45px;
        margin-top: 5px;
        margin-right: 20px;
        /* margin-left: 5%; */
    
        
    }
    .form-left{
        flex: 1;
        background-image: url(../../assets/form.png);
        background-position: center;
        background-size: 275px;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        
    }
    .form-right{
        flex: 1;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: navy;
        
        
    }
    .contact-form{
        height: 80%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 5px;
        box-shadow: 2px 42px 56px;
        background-color: whitesmoke;
        
    }
    .form-input{
        width: 70%;
        margin-left: 4%;
        height: 10%;
        border-radius: 5px;
        box-shadow: 12px 5px 12px;
        border: none;
        cursor: pointer;
    }
    .checkbox{
        width: 75%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 10%;
        font-size: 11px;
    }
    .span-checkbox{
        margin-left: 1%;
        margin-top: 2px;
        cursor: pointer;
    }
    .contact-message{
        height: 30%;
        width: 90%;
        margin-left: 4%;
        border-radius: 5px;
        box-shadow: 2px 2px 8px;
        cursor: pointer;
    }
    .form-submit{
        width: 50%;
        margin-left: 25%;
        box-shadow: 2px 2px 8px;
        cursor: pointer;
        color: black;
        background-color: lightgray;
    }
    
    
}